<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="header">
      <h1>Missions</h1>
    </div>
    <div class="missions">
      <article>
        <h2>A New Hope</h2>
        <p>
          Introduced in the original 1977 film Star Wars,[c] Princess Leia
          Organa of Alderaan is a member of the Imperial Senate. She is captured
          by Darth Vader (portrayed by David Prowse, voiced by James Earl Jones)
          on board the ship Tantive IV, where she is acting as a spy for the
          Rebel Alliance. Leia has secretly hidden the blueprints for the Death
          Star, the Empire's moon-sized battle station, inside the astromech
          droid R2-D2 (Kenny Baker) and has sent it to find one of the last
          remaining Jedi, Obi-Wan Kenobi (Alec Guinness), on the nearby planet
          of Tatooine. Vader arrests Leia and has her tortured, but she resists
          revealing anything. Death Star commander Grand Moff Tarkin (Peter
          Cushing) threatens to destroy her home planet Alderaan with the Death
          Star unless she reveals the location of the hidden Rebel base. She
          provides the location of an old, abandoned base on the planet
          Dantooine, but Tarkin orders Alderaan to be destroyed anyway. Leia is
          rescued by Luke Skywalker (Mark Hamill) and Han Solo (Harrison Ford),
          and they escape aboard Han's ship, the Millennium Falcon. After
          analyzing the Death Star's schematics, the Rebels find a tiny weakness
          in the battle station, which Luke uses to destroy it in his X-wing
          fighter. In the aftermath of the victory, Leia bestows medals on the
          heroes at the hidden Rebel base on Yavin 4.
        </p>
      </article>
      <article>
        <h2>The Empire Strikes Back</h2>
        <p>
          In The Empire Strikes Back (1980), Leia is at the Rebel base on Hoth.
          She leads its evacuation during an Imperial attack, and then flees
          with Han, Chewbacca (Peter Mayhew) and C-3PO (Anthony Daniels) on the
          Millennium Falcon. They dodge pursuing Imperial TIE fighters by flying
          into an asteroid field when the Falcon's hyperdrive breaks down, with
          Leia piloting the ship at one point. Romance blossoms between Leia and
          Han during their flight from the Empire; while hiding in the stomach
          of a space slug, they finally share a kiss. With his ship needing
          repairs, Han seeks out his old friend Lando Calrissian (Billy Dee
          Williams) in Cloud City, the floating city over Bespin. Though he
          welcomes them graciously, Lando soon turns them over to a newly
          arrived Darth Vader, who hopes to use them as bait to capture Luke.
          Leia confesses her love for Han as he is frozen in carbonite and then
          handed over to bounty hunter Boba Fett (Jeremy Bulloch), who is
          charged with bringing him to the crime lord Jabba the Hutt. Lando
          helps Leia, Chewbacca and the two droids escape. Leia senses that Luke
          is in trouble, and goes back to save him after he is nearly killed
          during a lightsaber duel and confrontation with Vader.
        </p>
      </article>
      <article>
        <h2></h2>
        <p></p>
      </article>
    </div>
    <div class="nav-bar">
      <ul>
        <li><a href="home"> Home </a></li>
        <li><a href="about"> About </a></li>
        <li><a href="missions"> Missions </a></li>
      </ul>
    </div>
  </body>
</html>
